@import url('https://fonts.googleapis.com/css?family=Poppins:800i|Quicksand');
@import url('https://fonts.googleapis.com/css?family=Kanit:800,800i');

.landingpagep{
    min-height: 100vh;
    width: 100vw;
    background: url('../../office-865091_1920.jpg');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    h1 {
        font-family: 'Kanit', sans-serif;
        font-weight: 800;
        font-style: italic;
        font-size: 55px;
    }
}
.landingpagecc{
        text-align: center;
        width: 100%;
        >div button {
            cursor: pointer;
            margin: 10px;
            height: 50px;
            width: 260px;
            border: none;
            border-radius: 10px;
            color: white;
            background-color: rgb(26, 144, 217);
            box-shadow: 10px 10px 5px rgb(34, 34, 34);
            font-size: 20px;
        }
        > h2 {
            margin: 0px auto 30px auto;
            font-weight: 200;
            font-family: 'Quicksand', sans-serif;
            font-size: 20px;
            
        }
    }

.logo-container {
    display: flex;
    justify-content: center;
    img {
        width: 50px;
        margin-left: 10px;
        margin-top: 5px;
    }
}




@media screen and (min-width: 700px) {
    .landingpagep {
        h1 {
            font-size: 120px;
        }
    }
    .landingpagecc {
        text-align: initial;
        margin-left: 5vw;
    }
    .logo-container {
        justify-content: flex-start;
        img {
            width: 90px;
            margin-top: 10px;
        }
    }
}