@import url('https://fonts.googleapis.com/css?family=Poppins:800i|Quicksand');
@import url('https://fonts.googleapis.com/css?family=Kanit:800,800i');

.landingpagep{
    height: 95vh;
    background: url('../../office-865091_1920.jpg');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    h1 {
        font-family: 'Kanit', sans-serif;
        font-weight: 800;
        font-style: italic;
    }
}
.landingpagec{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    >.landingpagecc{
        >div button {
            cursor: pointer;
            margin: 20px;
            height: 50px;
            width: 260px;
            border: none;
            border-radius: 10px;
            color: white;
            background-color: rgb(26, 144, 217);
            box-shadow: 10px 10px 5px rgb(34, 34, 34);
            font-size: 20px;
        }
        > h1 {
            font-size: 100px;
        }
        > h2 {
            margin-bottom: 30px;
            font-weight: 200;
            font-family: 'Quicksand', sans-serif;
        }
    }
}

@media (min-width: 414px) and (max-width: 1024px){
    .landingpagec{
        height: 80%;
        width: 100%;
        padding: 10px;
    }
}


@media screen and (max-width: 414px){
    .landingpagec{
        height: 80%;
        width: 100%;
        padding: 10px;
    }
}