@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

.applied-container {
    min-height: 85vh;
    padding-top: 10vh;
    width: 95%;
    margin: 0 auto;
    
    h1 {
        color: white;
        margin: 20px;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
    }
    h3 {
        text-align: center;
        font-size: 20px;
        color: white;
        margin: 0px auto 20px auto;
        font-family: 'Montserrat', sans-serif;
        color: rgb(26, 144, 217);
    }
}

.applied-developer-card {
    color: white;
    margin: 10px auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center; 
    padding: 20px 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    font-family: 'Montserrat', sans-serif;
    p {
        margin: 10px auto;
    }
    img {
        max-width: 100px;
        border-radius: 50%;
        margin: 10px auto;
        border: 3px solid rgb(26, 144, 217);
    }
    button {
        width: 150px;
        height: 35px;
        font-size: 16px;
        border-radius: 5px;
        background: rgb(26, 144, 217);
        border: 0;
        margin: 10px auto;
        color: white;
    }
}

@media screen and (min-width: 700px) {
    .applied-container {
        max-width: 1300px;
        h1 {
            font-size: 50px;
        }
        h3 {
            font-size: 30px;
        }
    }
    .applied-developer-card {
        width: 500px;
        margin: 10px;
    }
    .applied-card-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}