@import url('https://fonts.googleapis.com/css?family=Poppins:800i|Quicksand');
@import url('https://fonts.googleapis.com/css?family=Kanit:500,500i,600,600i,700,700i,800,800i,900,900i');

.navbarp {
    height: 70px;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobiletab {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 10px;
    display: initial;
    // position: fixed;
    z-index: 4;
}

.navbarlogo{
    margin-left: 40px;
    font-size: 38px;
    color: white;
    font-family: 'Kanit', sans-serif;
    font-weight: 800;
    font-style: italic;
}

.icon {
    width: 25px;
    margin-top: 5px;
}

nav {
    position: fixed;
    left: 0%;
    top: 0%;
    transform: translate(0px, -100vh);
    transition: .3s ease-in-out;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.9);
    z-index: 2;
}

.show {
    transform: translate(0px, 0px)
}

.navbarcc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20%;
    font-family: 'Quicksand', sans-serif;
    > * {
        cursor: pointer;
        color: white;
        text-decoration: none;
        font-size: 30px;
        font-weight: bold;
    }
    a, p {
        margin: 20px auto;
        width: fit-content;
    }
}




@media screen and (min-width: 900px) {

    nav {
        margin-right: 20px;
        background: none;
        transform: initial;
        height: 80px;
        width: 50%;
        
        position: initial;
        
    }
    .navbarcc {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 0px;
        height: 100%;
        p, a {
            font-size: 16px;
            margin: 10px auto;
        }
    }


    .mobiletab{
        display: none;
    }
    .showtabs{
        display: none;
    }
    .profileDropDown{
        height: 60px;
        width: 7.25vw;
        padding-top: 2.6vh;
        position: absolute;
        z-index: 1;
        transform: translate(41vw,5.25vh);
        // background: blue;
        
        >div{
            background-color:rgba(0, 0, 0, 0.75);
            width: 5vw;
            padding: 0 20px 5px 20px;
            font-size: 20px;
            > * {
                color: white;
                text-decoration: none;
                font-size: 20px;
            }
        }

    }
    

}










// @media (min-width: 414px) and (max-width: 1024px){
//     .navbarlogo{
//         border: none;
//     }
//     .navbarc{
//         width: 100%;
//     }
//     .navbarcc{
//         display: none;
//     }
//     .mobiletab{
//         display: block;
//         height: 100%;
//         width: 10%;
//         color: white;
//         font-size: 30px;
//         margin-right: 10px;
//     }
//     .showtabs{
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         position: absolute;
//         background-color: rgba(0, 0, 0, 0.808);
//         height: 50vh;
//         width: 100vw;
//         transform: translate(0,305px);
//         > div{
//            display: flex;
//            flex-direction: column;
//            justify-content: space-around;
//            align-items: center;
//            height: 80%;
//            width: 80%;
//             > * {
//                 cursor: pointer;
//                 color: white;
//                 text-decoration: none;
//                 font-size: 30px;
//             }
//         }
//     }
// }

// @media screen and (max-width: 414px){
//     .navbarlogo{
//         border: none;
//     }
//     .navbarc{
//         width: 100%;
//     }
//     .navbarcc{
//         display: none;
//     }
//     .mobiletab{
//         display: block;
//         height: 100%;
//         width: 10%;
//         color: white;
//         font-size: 30px;
//         margin-right: 10px;
//     }
//     .showtabs{
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         position: absolute;
//         background-color: rgba(0, 0, 0, 0.808);
//         height: 50vh;
//         width: 100vw;
//         transform: translate(0,220px);
//         > div{
//            display: flex;
//            flex-direction: column;
//            justify-content: space-around;
//            align-items: center;
//            height: 80%;
//            width: 80%;
//             > * {
//                 color: white;
//                 text-decoration: none;
//                 font-size: 30px;
//             }
//         }
//     }
// }