@import url('https://fonts.googleapis.com/css?family=Poppins:800i|Quicksand');
@import url('https://fonts.googleapis.com/css?family=Kanit:500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:300i');

.navbarp {
    height: 60px;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobiletab {
    width: 35px;
    margin-right: 20px;
    display: initial;
    z-index: 4;
}

.navbarlogo{
    margin-left: 15px;
    font-size: 25px;
    color: white;
    font-family: 'Kanit', sans-serif;
    font-weight: 800;
    font-style: italic;
    margin-top: 15px;
    display: flex;
    height: 100%;
    img {
        width: 25px;
        margin-bottom: 15px;
        margin-right: 8px;
    }
    .nav-switch {
        font-size: 16px;
        font-family: 'Barlow Condensed', sans-serif;
        color: rgb(65, 179, 250);
        margin-left: 5px;
    }
}

.icon {
    width: 25px;
    margin-top: 5px;
}

nav {
    position: fixed;
    left: 0%;
    top: 0%;
    transform: translate(0px, -120vh);
    transition: .3s ease-in-out;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.9);
    z-index: 2;
}

.show {
    transform: translate(0px, 0px)
}

.navbarcc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 7%;
    font-family: 'Quicksand', sans-serif;
    > * {
        cursor: pointer;
        color: white;
        text-decoration: none;
        font-size: 30px;
        font-weight: bold;
    }
    a, p {
        margin: 20px auto;
        width: fit-content;
        text-decoration: none;
        color: white;
    }
    
}







@media screen and (min-width: 900px) {

    nav {
        margin-right: 10px;
        background: none;
        transform: initial;
        height: 80px;
        width: 55%;
        position: initial;
        
    }
    .navbarcc {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 0px;
        height: 100%;
        p, a {
            font-size: 16px;
            margin: 10px auto;
            &:hover {
                color: rgb(165, 165, 165);
            }
        }
    }


    .mobiletab{
        display: none;
    }
    .showtabs{
        display: none;
    }
    .profileDropDown{
        height: 60px;
        width: 7.35vw;
        padding-top: 2.6vh;
        position: absolute;
        z-index: 1;
        transform: translate(44vw,5.1vh);     
        
        div {
            background-color:rgba(0, 0, 0, 0.65);
            width: 100px;
            padding: 20px 20px 5px 20px;
            font-size: 16px;
            text-align: center;
            > * {
                color: white;
                text-decoration: none;
                font-size: 16px;
            }
        }

    }
    .navbarlogo {
        font-size: 35px;
        margin: 0px 0px 0px 30px;
        img {
            margin-top: 15px;
            width: 40px;
            margin-right: 10px;
        }
        .nav-switch {
            font-size: 26px;
            margin-top: 20px;
            margin-left: 5px;
        }
    }

}

@media screen and (min-width: 1200px) {
    .profileDropDown {
        transform: translate(46vw,5.1vh);    
    }
}