.loginp{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 59);
}
.loginc{
    height: 50%;
    width: 50%;
    background-color: white;
    border-radius: 10px;
}