@import url('https://fonts.googleapis.com/css?family=Poppins:800i|Quicksand');

.job-feed-container {
    padding-top: 10vh;
    min-height: 85vh;
    width: 100vw;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content: center;
    color: white;
    h1 {
        color: white;
        font-size: 50px;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
    }
}

.job-profile {   
    display: none;
    img {
        width: 180px;
        border-radius: 50%;
        border: 5px solid rgb(26, 144, 217);
    }
    h1 {
        color: white;
        font-size: 30px;
        margin: 10px 0;
    }
    h2 {
        color: white;
        font-size: 16px;
    }
}

.jobfeedp{
    display: flex;
    flex-direction: column;
    h1 {
        font-size: 26px;
        color: white;
        margin-top: 10px;
        color: rgb(50, 172, 247);
        text-align: left;
    }
    p {
        color: white;
    }
}

#feed-title {
    color: white;
    font-size: 60px;
    text-align: center;
    margin-right: 30px;
}

.jobfeedc {
    width: 80%;
    max-width: 600px;
    margin: 10px auto;
    background-color: rgba(0, 0, 0, 0.475);
    padding: 30px;
    border-radius: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: start;
    // font-family: 'Quicksand', sans-serif;
    button {
        width: 160px;
        height: 40px;
        font-size: 18px;
        border-radius: 5px;
        background: rgb(26, 144, 217);
        border: 0;
        color: white;
        margin: 20px;
        &:hover {
            background: rgb(20, 104, 157);
            cursor: pointer;
        }
    }
}

.pay {
    font-size: 22px;
    text-align: center;
    margin: 30px;
}

@media screen and (min-width: 1000px) {
    .job-feed-container {
        width: 90vw;
        max-width: 1200px;
        margin: 0 auto;
    }

    .job-profile {
        display: initial;        
        text-align: center;
        margin-right: 20px;
        margin-top: 100px;
    }

    .jobfeedp {
        margin: 30px auto;
    }

    .jobfeedc {
        flex-direction: row;
        margin-left: 5px;
        max-width: 900px;
        button {
            margin: 0;
        }
    }
    #feed-title {
        margin-right: 200px;
    }

}