.job-feed-container {
    padding-top: 15vh;
    min-height: 85vh;
    margin-left: 300px;
}

.job-profile {
    position: fixed;
    left: 80px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        width: 180px;
        border-radius: 50%;
        border: 5px solid rgb(26, 144, 217);
    }
    h1 {
        color: white;
        font-size: 30px;
        margin: 10px 0;
    }
    h2 {
        color: white;
        font-size: 16px;
    }
}

.jobfeedp{
    h1 {
        font-size: 40px;
        color: white;
        margin-top: 10px;
    }
    p {
        color: white;
    }
}

.jobfeedc {
    width: 80%;
    background-color: rgba(0, 0, 0, 0.575);
    padding: 30px;
    border-radius: 10px;
    margin: 20px 0px;
    margin-left: 40px;
    display: grid;
    grid-template-columns: auto 130px 150px;
    align-items: center;
    button {
        width: 150px;
        height: 30px;
        font-size: 18px;
        border-radius: 5px;
        background: rgb(26, 144, 217);
        border: 0;
        color: white;
    }
}

.pay {
    font-size: 22px;
}