.detailedJobp{
    min-height: 85vh;
    height: fit-content;
    padding-top: 10vh;
}

.background-detailed {
    min-height: 90vh;
    width: 100vw;
    background-image: url('../../media/office-blur.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.emailFormp{
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    background: rgba(9, 9, 9, 0.568);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translate(0,-10vh);
    >.emailFormc{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 400px;
        width: 300px;
        background-color: rgb(87, 87, 87);
        border-radius: 10px;
        color: white;
        >label{
            margin-top: 15px;
            margin-bottom: 5px;
        }
        >button{
            cursor: pointer;
            margin-bottom: 30px;
            width: 120px;
            height: 30px;
            border-radius: 5px;
            background: rgb(26, 144, 217);
            border: none;
            color: white;
            font-size: 16px;
        }
        > .attachDocs{
            background: white;
            padding: 5px;
            border-radius: 5px;
            color: black;
        }
    }
}
.status-container {
    width: 95vw;
    margin: 20px auto;
}


.job-container {
    background: rgba(0, 0, 0, 0.6);
    width: 85%;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    color: white;
    font-family: 'Quicksand', sans-serif;
    h2 {
        margin: 0 auto;
    }
    button {
        background-color: rgb(26, 144, 217);
        height: 30px;
        width: 120px;
        border-radius: 5px;
        border: none;
        color: white;
        margin: 20px auto;
    }
    img {
        border-radius: 50%;
        border: 5px solid rgb(26, 144, 217);
        margin: 20px auto;
        max-width: 120px;
    }
    h4 {
        margin: 5px auto;
    }
}

.button-center {
    display: flex;
    
    button {
        margin-bottom: 10px;
        width: 150px;
        height: 40px;
        background: rgb(26, 144, 217);
        border-radius: 10px;
        border: none;
        color: white;
        font-size: 16px;
        // margin-right: 20px;
    }
}

.job-profile-view {
    // width: 100%;
    text-align: center;
    margin: 20px auto;
    p {
        margin-top: 0;
    }
}

.detail-job-info {
    h2 {
        font-size: 35px;
    }
    .detail-job-description {
        margin: 20px auto;
        font-size: 16px;
    }
    p {
        margin: 5px auto;
        font-size: 20px;
    }
    
}

.status-buttons {
    display: flex;
    flex-direction: column;
    width: 160px;
    align-items: stretch;
    margin: 20px auto;
    justify-content: flex-start;
    color: white;
    font-size: 20px;
    h3 {
        font-size: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
        
    }
}

@media screen and (min-width: 900px) {
    .job-container {
        width: 70%;
        padding: 20px;
        display: flex;
        align-items: stretch;
    }

    .job-profile-view {
        margin: 20px 30px;
        max-width: 200px;
    }

    .button-center {
        display: initial;
        button {
            margin-right: 30px;
        }
    }
    .status-container {
        max-width: 900px;
        margin: 20px auto 40px auto;
    }
    .status-buttons {
        input{
            margin-bottom: 15px;
            margin-right: 10px;
        }
    }
}